// Variables
$menu-item-count = 4
$menu-item-width = 8rem
$menu-item-height = 2rem
$header-footer-bg-color = #F8F8F8
$badge-bg-color = #0080FF
$badge-fg-color = white
$badge-page-title-color = yellow
// end Variables
body
	height: 100%
	font-size 10px !important
*
	padding 0
	margin 0
	box-sizing border-box
a
	color blue
p, a, li
	font-size 1.60rem
ul
	list-style-type none