// Variables
$menu-item-count = 4
$menu-item-width = 8rem
$menu-item-height = 2rem
$header-footer-bg-color = #F8F8F8
$badge-bg-color = #0080FF
$badge-fg-color = white
$badge-page-title-color = yellow
$body-bg-color = #FAEFFC
$tab-label-bg-color = #612E76
$active-tab-bg-color = #D9D9D9
$active-tab-txt-color = #8A3376
$active-tab-border-color = #612E76
$inactive-tab-label-border-color = $active-tab-bg-color
// end Variables
body
	height: 100%
	font-size 10px !important
*
	padding 0
	margin 0
	box-sizing border-box
a
	color blue
p, a, li
	font-size 1.60rem
ul
	list-style-type none
header
.main-content
footer
	width 100%
	float left