.carousel-wrapper
    position relative
    width 50vw
    height 50vh
    margin-left 25%
    margin-bottom 50vh
.cs3-carousel
    counter-reset: slide;
    font-family: TeXGyreAdventorRegular Arial Sans-serif
    .slide-container
    .slide-content
    .slide-selector
    .slide-content::before
        position: absolute
    .slide-selector
    .slide-content
        opacity: 0
    .slide-container
    .slide-content
        top: -50px;
        right: 0
        bottom: 0
        left: 0
    .slide
    .slide-selector-indicator
        width: 12px
        height: 12px
    .slide-selector-indicator
    .slide-selector-indicator::before
        display: block
    .slide
    .slide-content::before
        display: inline-block
    .slide-content
        visibility: hidden
        opacity: 0
        background-attachment: scroll
        background-repeat: no-repeat
        background-size: cover
    .slide
        padding: 1px
        margin: 1px
    .slide-selector-indicator
        position: relative;
        border: solid 1px #3c8cd3
        cursor: pointer
        z-index: 15
        top -40px
    .slide-selector-indicator::before
        content: ""
        margin: 1px
        height: 8px
        width: 6px
    .slide-selector:checked ~ .slide-selector-indicator::before
    .slide-selector:not(:checked) ~ .slide-selector-indicator:hover::before
        background: #3c8cd3
    .slide-selector:not(:checked) ~ .slide-selector-indicator:hover::before
        opacity: .6
    .slide-container
        box-shadow: 0 4px 13px 5px rgba(0 0 0 .2) 
                    0 2px 2px rgba(0 0 0 .15)
        background: #fff
    .slide-content
        padding: 16px
        overflow-x: hidden
        overflow-y: auto
        text-align: left
        z-index: 5
        -moz-transition: all 500ms 10ms ease-in
        -webkit-transition: all 500ms 10ms ease-in
        -ms-transition: all 500ms 10ms ease-in
        -o-transition: all 500ms 10ms ease-in
        transition: all 500ms 10ms ease-in
    // slides counter
    .slide-content::before
        counter-increment: slide
        content: "Slide " counter(slide)
        top: 6px
        right: 6px
        padding: 6px
        font-size: 14px
        line-height: 14px
        background: #3c8cd3
        border-radius: 2px
        color: #fff
    /* the slide is visible only if it's radio button is selected */
    .slide-selector:checked ~ .slide-content
        opacity: 1
        visibility: visible
    .slide-navbar
        width 100%
        height: 100%
        text-align: center
        
    .slide-selector-indicator
        background-color: white
// Slide viewer photos.
.photo-1
    h1
        margin-top 10%
.photo-2
    background-image url(../../images/hawaii-1.jpg)

.photo-3
    background-image url(../../images/hawaii-2.jpg)

.photo-4
    background-image url(../../images/hawaii-3.jpg)

.photo-5
    background-image url(../../images/hawaii-4.jpg)

.photo-6
    background-image url(../../images/hawaii-5.jpg)