body {
  height: 100%;
  font-size: 10px !important;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #00f;
}
p,
a,
li {
  font-size: 1.6rem;
}
ul {
  list-style-type: none;
}
header,
.main-content,
footer {
  width: 100%;
  float: left;
}
button.navbar-toggle[aria-expanded="false"] {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-color: transparent;
  -webkit-transition: all 1s 0.7s;
  -moz-transition: all 1s 0.7s;
  -o-transition: all 1s 0.7s;
  -ms-transition: all 1s 0.7s;
  transition: all 1s 0.7s;
}
button.navbar-toggle[aria-expanded="false"] span {
  background-color: #888;
  -webkit-transition: all 1s 0.7s;
  -moz-transition: all 1s 0.7s;
  -o-transition: all 1s 0.7s;
  -ms-transition: all 1s 0.7s;
  transition: all 1s 0.7s;
}
button.navbar-toggle[aria-expanded="true"] {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border-color: #00f;
  -webkit-transition: all 1s 0.7s;
  -moz-transition: all 1s 0.7s;
  -o-transition: all 1s 0.7s;
  -ms-transition: all 1s 0.7s;
  transition: all 1s 0.7s;
}
button.navbar-toggle[aria-expanded="true"] span {
  background-color: #00f !important;
  -webkit-transition: all 1s 0.7s;
  -moz-transition: all 1s 0.7s;
  -o-transition: all 1s 0.7s;
  -ms-transition: all 1s 0.7s;
  transition: all 1s 0.7s;
}
button.navbar-toggle[aria-expanded="true"] span:nth-child(2) {
  -webkit-transform: translateY(7px) rotate(45deg);
  -moz-transform: translateY(7px) rotate(45deg);
  -o-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg);
}
button.navbar-toggle[aria-expanded="true"] span:nth-child(3) {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
button.navbar-toggle[aria-expanded="true"] span:nth-child(4) {
  -webkit-transform: translateY(-5px) rotate(-45deg);
  -moz-transform: translateY(-5px) rotate(-45deg);
  -o-transform: translateY(-5px) rotate(-45deg);
  -ms-transform: translateY(-5px) rotate(-45deg);
  transform: translateY(-5px) rotate(-45deg);
}
.badge {
  background-color: #0080ff;
  color: #fff !important;
  padding: 1rem;
  padding-top: 1.7rem;
}
.badge em {
  color: #ff0;
}
.badge:hover {
  background-color: #8a2be2 !important;
}
.listing {
  margin: auto;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #ffc0cb;
  padding: 1rem;
  width: 50%;
}
.listing li:nth-child(even) {
  background-color: #efefef;
}
.listing li:nth-child(odd) {
  background-color: #454545;
}
form.tabs {
  position: relative;
  width: 50%;
  height: 35em;
  margin: auto;
  margin-top: 2%;
}
form.tabs .content {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 2.5em;
  visibility: hidden;
}
form.tabs input {
  display: none;
}
form.tabs input:checked + label,
form.tabs input:checked + label .content {
  background-color: #d9d9d9;
}
form.tabs input:checked + label {
  border-left: solid 3px #612e76;
  border-top: solid 3px #612e76;
  border-right: solid 3px #612e76;
  border-bottom: solid 3px #d9d9d9;
  color: #8a3376;
  height: 36px;
  margin-top: -5px;
}
form.tabs input:not(:checked) + label {
  color: #be4fa5;
}
form.tabs input:not(:checked) + label:hover {
  background-color: #75388f;
  color: #fff;
}
form.tabs input:checked + label .content {
  width: 100%;
  visibility: visible;
  border-top: solid 5px #612e76;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
}
form.tabs label {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  font: italic 1em cambria;
  padding: 1.5% 3%;
  border-left: solid 1px #d9d9d9;
  border-top: solid 1px #d9d9d9;
  border-right: solid 1px #d9d9d9;
  background-color: #612e76;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}
.cs3-carousel {
  background-color: #dfdfdf;
}
.cs3-carousel .slide-container,
.cs3-carousel .slide,
.cs3-carousel .slide-content,
.cs3-carousel .slide-content img,
.cs3-carousel .slide-selector-indicator {
  position: absolute;
}
.cs3-carousel .slide-container,
.cs3-carousel .slide,
.cs3-carousel .slide-content {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.cs3-carousel .slide-content img {
  width: 100%;
  height: 100%;
}
.cs3-carousel .slide-selector-indicator {
  width: 6px;
  height: 10px;
  top: 3%;
  z-index: 9999;
  background-color: #fff;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  -ms-transition: -ms-transform 1s;
  transition: transform 1s;
}
.cs3-carousel .slide-selector-indicator:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  cursor: pointer;
  background-color: #5882f1;
}
.cs3-carousel .slide-container {
  -webkit-perspective: 8000px;
  -moz-perspective: 8000px;
  -ms-perspective: 8000px;
  perspective: 8000px;
  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  -o-transform-style: flat;
  -ms-transform-style: flat;
  transform-style: flat;
}
.cs3-carousel .slide-content {
  z-index: 10;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: scale(0.3) rotate3d(1, 1, 0, 150deg);
  -moz-transform: scale(0.3) rotate3d(1, 1, 0, 150deg);
  -o-transform: scale(0.3) rotate3d(1, 1, 0, 150deg);
  -ms-transform: scale(0.3) rotate3d(1, 1, 0, 150deg);
  transform: scale(0.3) rotate3d(1, 1, 0, 150deg);
  -webkit-transition: all 3s ease;
  -moz-transition: all 3s ease;
  -o-transition: all 3s ease;
  -ms-transition: all 3s ease;
  transition: all 3s ease;
}
.cs3-carousel .slide-content label {
  position: absolute;
  background-color: rgba(255,255,255,0.3);
  z-index: 99;
  width: 15%;
  height: 100%;
  font-size: 900%;
  line-height: 350%;
  font-family: "Varela Round" sans-serif;
  cursor: pointer;
  text-align: center;
  color: #fff;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cs3-carousel .slide-content label.prev {
  left: 0;
}
.cs3-carousel .slide-content label.next {
  right: 0;
}
.cs3-carousel input:checked ~ .slide-content {
  z-index: 999;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
  -moz-transform: scale(1) rotate3d(1, 1, 0, 0deg);
  -o-transform: scale(1) rotate3d(1, 1, 0, 0deg);
  -ms-transform: scale(1) rotate3d(1, 1, 0, 0deg);
  transform: scale(1) rotate3d(1, 1, 0, 0deg);
  -webkit-transition: all 1.5s 1.5s ease;
  -moz-transition: all 1.5s 1.5s ease;
  -o-transition: all 1.5s 1.5s ease;
  -ms-transition: all 1.5s 1.5s ease;
  transition: all 1.5s 1.5s ease;
}
.cs3-carousel input:checked ~ .slide-content label:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.cs3-carousel input:checked + .slide-selector-indicator {
  background-color: #3c8cd3;
}
.second.slide-content {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -o-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
}
.third.slide-content {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.fourth.slide-content {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.fifth.slide-content {
  -webkit-transform: rotateY(85deg);
  -moz-transform: rotateY(85deg);
  -o-transform: rotateY(85deg);
  -ms-transform: rotateY(85deg);
  transform: rotateY(85deg);
}
.sixth.slide-content {
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.slide:nth-child(1) .slide-selector-indicator {
  left: 45%;
}
.slide:nth-child(2) .slide-selector-indicator {
  left: 47%;
}
.slide:nth-child(3) .slide-selector-indicator {
  left: 49%;
}
.slide:nth-child(4) .slide-selector-indicator {
  left: 51%;
}
.slide:nth-child(5) .slide-selector-indicator {
  left: 53%;
}
.slide:nth-child(6) .slide-selector-indicator {
  left: 55%;
}
.cs3-carousel {
  position: relative;
  width: 65rem;
  height: 36rem;
}
.cs3-carousel input {
  display: none;
}
.navbar-header {
  width: 20%;
  float: left;
}
.navbar-collapse {
  width: 80%;
  padding-left: 10%;
}
.nav-container {
  position: relative;
  height: 10rem;
  margin-top: 20%;
}
.nav-container li {
  position: absolute;
  height: 2rem;
  padding-left: 0rem;
  -webkit-transition: padding-left 1s;
  -moz-transition: padding-left 1s;
  -o-transition: padding-left 1s;
  -ms-transition: padding-left 1s;
  transition: padding-left 1s;
}
.nav-container li:hover {
  padding-left: 1rem;
}
.main-content .listing li:nth-child(even) {
  background-color: #efefef;
}
.main-content .listing li:nth-child(odd) {
  background-color: #a76161;
}
.main-content .listing li {
  padding-left: 0;
  -webkit-transition: padding-left 1s;
  -moz-transition: padding-left 1s;
  -o-transition: padding-left 1s;
  -ms-transition: padding-left 1s;
  transition: padding-left 1s;
}
.main-content .listing li:hover {
  cursor: pointer;
  padding-left: 1em;
}
form.tabs {
  margin-bottom: 0%;
}
@media (min-width: 768px) {
  body,
  #site-header,
  #site-footer,
  .main-content,
  #site-header nav,
  .container-fluid {
    width: 100%;
  }
  #site-header,
  .navbar-header,
  #site-footer,
  .main-content {
    padding-left: 1%;
    padding-right: 1%;
  }
  #site-header .listing,
  .navbar-header .listing,
  #site-footer .listing,
  .main-content .listing {
    width: 30%;
  }
  #site-header,
  #site-footer {
    position: fixed;
    bottom: 0;
    background-color: #f8f8f8;
  }
  #site-header {
    top: 0;
    height: 8rem;
  }
  #site-header li {
    min-width: 8rem;
    float: left;
    text-align: center;
  }
  #site-header li:hover {
    padding-left: 0;
  }
  #site-header li a {
    border-bottom: 0px;
  }
  #site-header li a:hover {
    background-color: #efefef;
    text-decoration: none;
  }
  #site-header li.active a {
    border-bottom: solid 5px #000;
  }
  #site-header nav {
    margin-top: 1rem;
  }
  #site-footer {
    bottom: 0;
    padding-top: 1rem;
  }
  .navbar-header,
  .navbar-collapse {
    float: left;
  }
  .navbar-header {
    min-width: 20%;
  }
  .navbar-default {
    width: 100%;
    border: 0 !important;
  }
  .navbar-collapse {
    min-width: 70%;
  }
  .nav-container {
    position: relative;
    height: auto;
    margin-top: 1.5rem;
    margin-left: 5%;
    overflow: visible;
  }
  .nav-container li {
    position: absolute;
  }
  .main-content {
    float: left;
    clear: left;
    margin-top: 9rem;
  }
  #site-footer {
    height: 3rem;
  }
  #site-footer:hover {
    height: auto;
  }
  #site-footer ul {
    float: left;
    min-width: 33%;
  }
  #site-footer ul li {
    text-align: center;
  }
  .cs3-carousel {
    margin-top: 5rem;
    margin: auto;
    margin-bottom: 10rem;
  }
}
#menu-item-1 {
  top: 2rem;
  left: 0;
}
@media (min-width: 768px) {
  #menu-item-1 {
    left: 8rem;
    top: 0;
  }
}
#menu-item-2 {
  top: 4rem;
  left: 0;
}
@media (min-width: 768px) {
  #menu-item-2 {
    left: 16rem;
    top: 0;
  }
}
#menu-item-3 {
  top: 6rem;
  left: 0;
}
@media (min-width: 768px) {
  #menu-item-3 {
    left: 24rem;
    top: 0;
  }
}
#menu-item-4 {
  top: 8rem;
  left: 0;
}
@media (min-width: 768px) {
  #menu-item-4 {
    left: 32rem;
    top: 0;
  }
}
