body {
  height: 100%;
  font-size: 10px !important;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #00f;
}
p,
a,
li {
  font-size: 1.6rem;
}
ul {
  list-style-type: none;
}
header,
.main-content,
footer {
  width: 100%;
  float: left;
}
button.navbar-toggle[aria-expanded="false"] {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-color: transparent;
  -webkit-transition: all 1s 0.7s;
  -moz-transition: all 1s 0.7s;
  -o-transition: all 1s 0.7s;
  -ms-transition: all 1s 0.7s;
  transition: all 1s 0.7s;
}
button.navbar-toggle[aria-expanded="false"] span {
  background-color: #888;
  -webkit-transition: all 1s 0.7s;
  -moz-transition: all 1s 0.7s;
  -o-transition: all 1s 0.7s;
  -ms-transition: all 1s 0.7s;
  transition: all 1s 0.7s;
}
button.navbar-toggle[aria-expanded="true"] {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border-color: #00f;
  -webkit-transition: all 1s 0.7s;
  -moz-transition: all 1s 0.7s;
  -o-transition: all 1s 0.7s;
  -ms-transition: all 1s 0.7s;
  transition: all 1s 0.7s;
}
button.navbar-toggle[aria-expanded="true"] span {
  background-color: #00f !important;
  -webkit-transition: all 1s 0.7s;
  -moz-transition: all 1s 0.7s;
  -o-transition: all 1s 0.7s;
  -ms-transition: all 1s 0.7s;
  transition: all 1s 0.7s;
}
button.navbar-toggle[aria-expanded="true"] span:nth-child(2) {
  -webkit-transform: translateY(7px) rotate(45deg);
  -moz-transform: translateY(7px) rotate(45deg);
  -o-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg);
}
button.navbar-toggle[aria-expanded="true"] span:nth-child(3) {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
button.navbar-toggle[aria-expanded="true"] span:nth-child(4) {
  -webkit-transform: translateY(-5px) rotate(-45deg);
  -moz-transform: translateY(-5px) rotate(-45deg);
  -o-transform: translateY(-5px) rotate(-45deg);
  -ms-transform: translateY(-5px) rotate(-45deg);
  transform: translateY(-5px) rotate(-45deg);
}
.badge {
  background-color: #0080ff;
  color: #fff !important;
  padding: 1rem;
  padding-top: 1.7rem;
}
.badge em {
  color: #ff0;
}
.badge:hover {
  background-color: #8a2be2 !important;
}
.listing {
  margin: auto;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #ffc0cb;
  padding: 1rem;
  width: 50%;
}
.listing li:nth-child(even) {
  background-color: #efefef;
}
.listing li:nth-child(odd) {
  background-color: #454545;
}
form.tabs {
  position: relative;
  width: 50%;
  height: 35em;
  margin: auto;
  margin-top: 2%;
}
form.tabs .content {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 2.5em;
  visibility: hidden;
}
form.tabs input {
  display: none;
}
form.tabs input:checked + label,
form.tabs input:checked + label .content {
  background-color: #d9d9d9;
}
form.tabs input:checked + label {
  border-left: solid 3px #612e76;
  border-top: solid 3px #612e76;
  border-right: solid 3px #612e76;
  border-bottom: solid 3px #d9d9d9;
  color: #8a3376;
  height: 36px;
  margin-top: -5px;
}
form.tabs input:not(:checked) + label {
  color: #be4fa5;
}
form.tabs input:not(:checked) + label:hover {
  background-color: #75388f;
  color: #fff;
}
form.tabs input:checked + label .content {
  width: 100%;
  visibility: visible;
  border-top: solid 5px #612e76;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
}
form.tabs label {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  font: italic 1em cambria;
  padding: 1.5% 3%;
  border-left: solid 1px #d9d9d9;
  border-top: solid 1px #d9d9d9;
  border-right: solid 1px #d9d9d9;
  background-color: #612e76;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}
.carousel-wrapper {
  position: relative;
  width: 50vw;
  height: 50vh;
  margin-left: 25%;
  margin-bottom: 50vh;
}
.cs3-carousel {
  counter-reset: slide;
  font-family: TeXGyreAdventorRegular Arial Sans-serif;
  background: #fff;
}
.cs3-carousel .slide-container,
.cs3-carousel .slide-content,
.cs3-carousel .slide-selector,
.cs3-carousel .slide-content::before {
  position: absolute;
}
.cs3-carousel .slide-selector,
.cs3-carousel .slide-content {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.cs3-carousel .slide-container,
.cs3-carousel .slide-content {
  top: -50px;
  right: 0;
  bottom: 0;
  left: 0;
}
.cs3-carousel .slide,
.cs3-carousel .slide-selector-indicator {
  width: 12px;
  height: 12px;
}
.cs3-carousel .slide-selector-indicator,
.cs3-carousel .slide-selector-indicator::before {
  display: block;
}
.cs3-carousel .slide,
.cs3-carousel .slide-content::before {
  display: inline-block;
}
.cs3-carousel .slide-content {
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  background-attachment: scroll;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.cs3-carousel .slide {
  padding: 1px;
  margin: 1px;
}
.cs3-carousel .slide-selector-indicator {
  position: relative;
  border: solid 1px #3c8cd3;
  cursor: pointer;
  z-index: 15;
  top: -40px;
}
.cs3-carousel .slide-selector-indicator::before {
  content: "";
  margin: 1px;
  height: 8px;
  width: 6px;
}
.cs3-carousel .slide-selector:checked ~ .slide-selector-indicator::before,
.cs3-carousel .slide-selector:not(:checked) ~ .slide-selector-indicator:hover::before {
  background: #3c8cd3;
}
.cs3-carousel .slide-selector:not(:checked) ~ .slide-selector-indicator:hover::before {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.cs3-carousel .slide-container {
  -webkit-box-shadow: 0 4px 13px 5px rgba(0,0,0,0.2);
  box-shadow: 0 4px 13px 5px rgba(0,0,0,0.2);
rgba(0,0,0,0.15)
}
.slide-content {
  padding: 16px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  z-index: 5;
  -moz-transition: all 500ms 10ms ease-in;
  -webkit-transition: all 500ms 10ms ease-in;
  -ms-transition: all 500ms 10ms ease-in;
  -o-transition: all 500ms 10ms ease-in;
  -webkit-transition: all 500ms 10ms ease-in;
  -moz-transition: all 500ms 10ms ease-in;
  -o-transition: all 500ms 10ms ease-in;
  -ms-transition: all 500ms 10ms ease-in;
  transition: all 500ms 10ms ease-in;
}
.slide-content::before {
  counter-increment: slide;
  content: "Slide " counter(slide);
  top: 6px;
  right: 6px;
  padding: 6px;
  font-size: 14px;
  line-height: 14px;
  background: #3c8cd3;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
}
.slide-selector:checked ~ .slide-content {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.slide-navbar {
  width: 100%;
  height: 100%;
  text-align: center;
}
.slide-selector-indicator {
  background-color: #fff;
}
.photo-1 h1 {
  margin-top: 10%;
}
.photo-2 {
  background-image: url("../images/hawaii-1.jpg");
}
.photo-3 {
  background-image: url("../images/hawaii-2.jpg");
}
.photo-4 {
  background-image: url("../images/hawaii-3.jpg");
}
.photo-5 {
  background-image: url("../images/hawaii-4.jpg");
}
.photo-6 {
  background-image: url("../images/hawaii-5.jpg");
}
.navbar-header {
  width: 20%;
  float: left;
}
.navbar-collapse {
  width: 80%;
  padding-left: 10%;
}
.nav-container {
  position: relative;
  height: 10rem;
  margin-top: 20%;
}
.nav-container li {
  position: absolute;
  height: 2rem;
  padding-left: 0rem;
  -webkit-transition: padding-left 1s;
  -moz-transition: padding-left 1s;
  -o-transition: padding-left 1s;
  -ms-transition: padding-left 1s;
  transition: padding-left 1s;
}
.nav-container li:hover {
  padding-left: 1rem;
}
.main-content .listing li:nth-child(even) {
  background-color: #efefef;
}
.main-content .listing li:nth-child(odd) {
  background-color: #a76161;
}
.main-content .listing li {
  padding-left: 0;
  -webkit-transition: padding-left 1s;
  -moz-transition: padding-left 1s;
  -o-transition: padding-left 1s;
  -ms-transition: padding-left 1s;
  transition: padding-left 1s;
}
.main-content .listing li:hover {
  cursor: pointer;
  padding-left: 1em;
}
form.tabs {
  margin-bottom: 10%;
}
@media (min-width: 768px) {
  body,
  #site-header,
  #site-footer,
  .main-content,
  #site-header nav,
  .container-fluid {
    width: 100%;
  }
  #site-header,
  .navbar-header,
  #site-footer,
  .main-content {
    padding-left: 1%;
    padding-right: 1%;
  }
  #site-header .listing,
  .navbar-header .listing,
  #site-footer .listing,
  .main-content .listing {
    width: 30%;
  }
  #site-header,
  #site-footer {
    position: fixed;
    bottom: 0;
    background-color: #f8f8f8;
  }
  #site-header {
    top: 0;
    height: 8rem;
  }
  #site-header li {
    min-width: 8rem;
    float: left;
    text-align: center;
  }
  #site-header li:hover {
    padding-left: 0;
  }
  #site-header li a {
    border-bottom: 0px;
  }
  #site-header li a:hover {
    background-color: #efefef;
    text-decoration: none;
  }
  #site-header li.active a {
    border-bottom: solid 5px #000;
  }
  #site-header nav {
    margin-top: 1rem;
  }
  #site-footer {
    bottom: 0;
    padding-top: 1rem;
  }
  .navbar-header,
  .navbar-collapse {
    float: left;
  }
  .navbar-header {
    min-width: 20%;
  }
  .navbar-default {
    width: 100%;
    border: 0 !important;
  }
  .navbar-collapse {
    min-width: 70%;
  }
  .nav-container {
    position: relative;
    height: auto;
    margin-top: 1.5rem;
    margin-left: 5%;
    overflow: visible;
  }
  .nav-container li {
    position: absolute;
  }
  .main-content {
    float: left;
    clear: left;
    margin-top: 9rem;
  }
  #site-footer {
    height: 3rem;
  }
  #site-footer:hover {
    height: auto;
  }
  #site-footer ul {
    float: left;
    min-width: 33%;
  }
  #site-footer ul li {
    text-align: center;
  }
}
#menu-item-1 {
  top: 2rem;
  left: 0;
}
@media (min-width: 768px) {
  #menu-item-1 {
    left: 8rem;
    top: 0;
  }
}
#menu-item-2 {
  top: 4rem;
  left: 0;
}
@media (min-width: 768px) {
  #menu-item-2 {
    left: 16rem;
    top: 0;
  }
}
#menu-item-3 {
  top: 6rem;
  left: 0;
}
@media (min-width: 768px) {
  #menu-item-3 {
    left: 24rem;
    top: 0;
  }
}
#menu-item-4 {
  top: 8rem;
  left: 0;
}
@media (min-width: 768px) {
  #menu-item-4 {
    left: 32rem;
    top: 0;
  }
}
